:root {
  --color00: #fefefe;
  --color01: #e8e8f0;
  --color02: #d0d0e0;
  --color03: #c0c0c0;
  --color04: #858585;
  --color05: #1e1e1e;
  --color06: #1e1e1e;
  --color07: #1e1e1e;
  --color08: #800000;
  --color09: #000080;
  --color0A: #c9a227;
  --color0B: #03aa5c;
  --color0C: #09aea1;
  --color0D: #0000ff;
  --color0E: #800080;
  --color0F: #000040;
}
