:root {
  --color00: #fefefe;
  --color01: #f5e6ea;
  --color02: #ebcfd6;
  --color03: #c0c0c0;
  --color04: #858585;
  --color05: #1e1e1e;
  --color06: #1e1e1e;
  --color07: #1e1e1e;
  --color08: #c45c78;
  --color09: #f386a1;
  --color0A: #c9a227;
  --color0B: #03aa5c;
  --color0C: #09aea1;
  --color0D: #000080;
  --color0E: #d45bb6;
  --color0F: #8a4a5a;
}
