:root {
    --color00: #fefefe;
    --color01: #f5e6ea;
    --color02: #ebcfd6;
    --color03: #c0c0c0;
    --color04: #858585;
    --color05: #1e1e1e;
    --color06: #1e1e1e;
    --color07: #1e1e1e;
    --color08: #c45c78;
    --color09: #f386a1;
    --color10: #c9a227;
    --color11: #03aa5c;
    --color12: #09aea1;
    --color13: #000080;
    --color14: #d45bb6;
    --color15: #8a4a5a;
}
