@define-color foreground #fefefe;
@define-color background #000080;
@define-color accent #0000ff;
@define-color accent_orange #0000ff;
@define-color accent_green #008080;
@define-color accent_critical #ff0000;

* {
  border-radius: 0;
  font-weight: 600;
}

window#waybar {
  background: @background;
  color: @foreground;
  border-bottom: 2px solid #000000;
}

#workspaces button {
  color: @foreground;
  background: transparent;
  border: 2px solid transparent;
  padding: 0 8px;
}

#workspaces button.active {
  background: #c0c0c0;
  color: #000080;
  border: 2px solid #000000;
}

#workspaces button:hover {
  background: #0000ff;
  color: #fefefe;
}

#clock,
#battery,
#cpu,
#network,
#pulseaudio,
#bluetooth,
#tray,
#custom-omarchy,
#custom-update,
#custom-weather {
  color: @foreground;
  padding: 0 10px;
}

#battery.critical,
#network.disconnected {
  color: #ffff00;
  background: #800000;
}
